<div class='container'>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">The Basics of Crossfit</h1>
            <p class="lead">Want to learn more about the basics of crossfit? Check out the scraped articles below!</p>
        </div>
    </div>
    <div class='row'>
        <div id='articles'></div>
        <div id='comments'></div>
    </div>
</div>