<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Crossfit Fundamentals</h1>
            <p class="lead">Want to learn more about the basics of crossfit? Check out the scraped articles below!</p>
        </div>
    </div>
    {{!-- A div for the articles --}}
        <div id="articles"></div>
        {{!-- A div for the comments --}}
        <div id="comments"></div>
</div>